@import "tailwindcss";

body {
  @apply bg-black text-white;
  font-family: 'Poppins', sans-serif;
}

@keyframes slowZoom {
  0% { transform: scale(1.05); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1.05); }
}